In [6]:
import pandas as pd
import numpy as np
import json

In [7]:
data_folder = "../kepler-model-training-quick-collect/data/"
filename = "sample_kepler_query.json"

In [11]:
file = open(data_folder + filename)
data = file.read()
data = json.loads(data)

In [46]:
result = {}

for metric in data:
    temp = []
    if metric == 'kepler_container_joules_total':
        for container_metric in data[metric]:
            tmp = [[container_metric['metric']['container_id'], container_metric['metric']['instance'], values[0], values[1]] for values in container_metric['values']]
            tmp_df = pd.DataFrame(tmp, columns =['container_id', 'node', 'time', 'value'])
            temp.append(tmp_df)
    elif metric == 'node_cpu_seconds_total':
        for node_metric in data[metric]:
            tmp = [[node_metric['metric']['instance'], node_metric['metric']['cpu'], values[0], values[1]] for values in node_metric['values']]
            tmp_df = pd.DataFrame(tmp, columns =['node', 'cpu', 'time', 'value'])
            temp.append(tmp_df)
    else:
        continue
    t = pd.concat(temp)
    t['value'] = t['value'].astype(float)
    result[metric] = t.reset_index(drop = True)

In [47]:
result['kepler_container_joules_total']

,container_id,node,time,value
0,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698746340,1.712377e+07
1,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698746343,1.712378e+07
2,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698746346,1.712379e+07
3,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698746349,1.712380e+07
4,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698746352,1.712381e+07
...,...,...,...,...
1314,system_processes,10.242.64.5,1698746361,1.711894e+07
1315,system_processes,10.242.64.5,1698746364,1.711895e+07
1316,system_processes,10.242.64.5,1698746367,1.711896e+07
1317,system_processes,10.242.64.5,1698746370,1.711896e+07
1318,system_processes,10.242.64.5,1698746373,1.711897e+07

In [48]:
result['node_cpu_seconds_total']

            node cpu        time       value
0    10.242.64.4   0  1698746340  4534694.95
1    10.242.64.4   0  1698746343  4534694.95
2    10.242.64.4   0  1698746346  4534694.95
3    10.242.64.4   0  1698746349  4534694.95
4    10.242.64.4   0  1698746352  4534703.26
..           ...  ..         ...         ...
763  10.242.64.5   3  1698746361   504799.84
764  10.242.64.5   3  1698746364   504799.84
765  10.242.64.5   3  1698746367   504799.84
766  10.242.64.5   3  1698746370   504799.84
767  10.242.64.5   3  1698746373   504801.80

[768 rows x 4 columns]

In [49]:
energy = result['kepler_container_joules_total']
energy_agg = energy.groupby(['node', 'time'])['value'].sum()

In [50]:
energy_agg

node         time
10.242.64.4  1698746340    8.695048e+08
             1698746343    8.695053e+08
             1698746346    8.695058e+08
             1698746349    8.695064e+08
             1698746352    8.695069e+08
             1698746355    8.695074e+08
             1698746358    8.695079e+08
             1698746361    8.695084e+08
             1698746364    8.695090e+08
             1698746367    8.695095e+08
             1698746370    8.695100e+08
             1698746373    8.695105e+08
10.242.64.5  1698746340    5.497537e+08
             1698746343    5.497543e+08
             1698746346    5.497548e+08
             1698746349    5.497553e+08
             1698746352    5.497558e+08
             1698746355    5.497563e+08
             1698746358    5.497569e+08
             1698746361    5.497574e+08
             1698746364    5.497579e+08
             1698746367    5.497584e+08
             1698746370    5.497589e+08
             1698746373    5.497595e+08
Name: value, dtype: float64

In [52]:
cpu_util = result['node_cpu_seconds_total']
cpu_util_agg = cpu_util.groupby(['node', 'time'])['value'].sum()

In [53]:
cpu_util_agg

node         time
10.242.64.4  1698746340    21085946.66
             1698746343    21085946.66
             1698746346    21085946.66
             1698746349    21085946.66
             1698746352    21086006.28
             1698746355    21086006.28
             1698746358    21086006.28
             1698746361    21086006.28
             1698746364    21086006.28
             1698746367    21086066.35
             1698746370    21086066.35
             1698746373    21086066.35
10.242.64.5  1698746340    20943100.46
             1698746343    20943160.06
             1698746346    20943160.06
             1698746349    20943160.06
             1698746352    20943160.06
             1698746355    20943160.06
             1698746358    20943219.34
             1698746361    20943219.34
             1698746364    20943219.34
             1698746367    20943219.34
             1698746370    20943219.34
             1698746373    20943278.85
Name: value, dtype: float64